<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatroomz dynamoDB</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="static/css/styles.min.css">
</head>

<body>
<div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="{{url_for('login')}}" style="color:#b6d781;">Chatroomz</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                    class="collapse navbar-collapse" id="navcol-1"></div>
        </div>
    </nav>
</div>

<div class="container">
    <div class="intro">
        <h2 class="text-center">Room Creation</h2>
        <div class="text-center">
            {{msg}}
            <form method="post" action="/newroom">
                <h2 class="sr-only">Enter Name of New Room</h2>
                <div class="form-group"><input class="form-control" type="roomname" name="roomname" placeholder="Room Name"></div>
                <input type="hidden" name="username" value="{{ username }}" />
                <div class="form-group">
                    <input type="submit" name="submit" value="Create" class="btn btn-primary btn-block" style="background-color:#aedc8a;color:rgb(40,140,38);">
                </div>
            </form>

        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>

